.idTabs>ul{background:#fff;box-shadow:0 0 1px 0 #bbb;padding:10px 0px 20px 0px;}
.idTabs>ul>li{margin:0 10px;display:flex;font-size:14px;}
.idTabs>ul>li>button{border-radius: 0;background:#fff;}
.idTabs>ul>li>a{text-decoration: none;line-height:1.5em;color:#818689;width:100%;border-radius:0;background:#fff;}
.idTabs>ul>li>a.selected,.idTabs ul>li>a.selected~button{border-bottom:2px solid #00b5ad;}
.idTabs>ul>li>a:hover{color:#444;background:rgba(243,246,248,.8);}
.tab-item{display:none;background:#fff;box-shadow:0 0 1px 0 #bbb;}